.user_div{
     height:300px;
     margin-top: 50px;
     margin-left: 480px;
 }
#sendEmailCode{
    width: 100px;
}
.login_text{
    width: 200px;
}
#GoogleCode{
    position:relative;
    top:5px;
}
#msg_div{
    font-size: 20px;
    color:red;
    position:absolute;
    left:64%;
    top:40px;
}
.user_tr{
    text-align: center;
}

a{
    text-decoration:none;
}
