a{
text-decoration:none;
}
#login_head {
    margin-left: 60px;
    margin-right: 60px;
}
#sigin_menu_main{
    height:400px;
}
.ul_menu{
list-style: none;
}
.ul_menu li{
    display:inline-block;
}

h1{
text-align:center;
}