<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.mapper.UserMapper">

    <sql id="selectYhUser">
    select * from yh_user
    </sql>
    <insert id="addUser">
        insert into yh_user (yh_yhbh,yh_password,yh_email,yh_yname)
        values(#{user.yh_yhbh},#{user.yh_password},#{user.yh_email},#{user.yh_yname})
    </insert>
    <update id="updateUserPass">
        update yh_user set yh_password=#{param2}
        where yh_yhbh =#{param1}
    </update>
    <update id="updateUserPassByEmail">
        update yh_user set yh_password=#{param2}
        where yh_email =#{param1}
        and  yh_status ='1'
        and yh_scbz='0'
    </update>
    <update id="updateUserFreeze">
        update yh_user set yh_status='0'
        where yh_email =#{param1}
        and  yh_status in ('1')
        and yh_scbz='0'
    </update>
    <update id="updateUserWrongTimes">
        update yh_user set yh_wrongTimes=#{param1}
        where (yh_yhbh=#{param2}
        or yh_email=#{param2})
        and yh_scbz='0'
    </update>
    <update id="updateUserBeFreeze">
        update yh_user set yh_status='1'
        where (yh_yhbh=#{yhaccount}
        or yh_email=#{yhaccount})
        and yh_scbz='0'
    </update>
    <select id="selectYhbh" resultType="integer" parameterType="string">
        <include refid="selectYhUser"/>
        where yh_yhbh =#{yhbh}
        and  yh_status in ('0','1','2')
        and yh_scbz='0'
    </select>
    <select id="selectEmail" resultType="integer" parameterType="string">
        <include refid="selectYhUser"/>
        where yh_email =#{email}
        and  yh_status in ('0','1','2')
        and yh_scbz='0'
    </select>
    <select id="getUser" resultType="User">
        <include refid="selectYhUser"/>
        <where>
            <choose>
                <when test="username !=null">
                    (
                    yh_yhbh =#{username}
                    or yh_email=#{username}
                    )
                    and
                    yh_password =#{password}
                    and yh_status in ('0','1','2')
                    and yh_scbz='0'
                </when>
            </choose>
        </where>
    </select>
    <select id="getUserStatus" resultType="com.aaa.model.User">
        <include refid="selectYhUser"/>
        where
        yh_yhbh =#{account}
        or yh_email=#{account}
    </select>

    <insert id="addLoginLog">
        insert into log_login (login_user,login_action,login_status,login_address)
        values (#{loginLog.login_user},#{loginLog.login_action},#{loginLog.login_status},#{loginLog.login_address})
    </insert>
</mapper>